.searchbar{
    text-align:center;
}
.actualbar{
    opacity:0.5;
    width:50vw;
    height:4vh;
    border-radius:10px;
    border:none;
    outline: none;
}
.actualbar:hover{
    opacity:0.75;
}
.container{
    margin:auto;
    width:50vw;
    border-radius:10px;

}
.location{
    margin-top:0;
}
.weather{
    margin-bottom:0;
    font-size:10vh;
}
.tmp{
    display:inline-block;
    font-size:8vh;
    margin-right:5vw;
}
.location{
    font-size:3vh;
}
.words{
    padding-left:5vw;
    display:inline-block;
    border-left-style:solid;
    font-size:3vh;
    border-width:2px;
}
body{
    background-image: url('back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial;
    color:white;
}